.d {
  overflow: hidden;
  height: 100vh;
}
.contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .title {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
  }
  img {
    flex: 0.7;
    min-width: 17rem;
    width: 50vw;
  }
  .form {
    padding: 2rem 4rem;
    display: flex;
    height: calc(100vh - 11.15rem);
    background-color: #eee;
    flex-direction: column;
    width: 30rem;
    gap: 2rem;
    button {
      width: 15rem;
      padding: 1rem 2rem;
      background-color: #1a1c2e;
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
    }
    .input {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      p {
        font-weight: 600;
        margin: 0;
      }
      input,
      textarea {
        padding: 0.75rem 2rem;
        width: 15rem;
      }
    }
    flex: 0.3;
  }
}
